.vscode/settings.json
build/cmake_install.cmake
build/CMakeCache.txt
build/Makefile
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeDirectoryInformation.cmake
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/Makefile2
build/CMakeFiles/progress.marks
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.22.1/CMakeCCompiler.cmake
build/CMakeFiles/3.22.1/CMakeCXXCompiler.cmake
build/CMakeFiles/3.22.1/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.22.1/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.22.1/CMakeSystem.cmake
build/CMakeFiles/3.22.1/CompilerIdC/a.out
build/CMakeFiles/3.22.1/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.22.1/CompilerIdCXX/a.out
build/CMakeFiles/3.22.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/source/cmake_install.cmake
build/source/libSLAE.a
build/source/Makefile
build/source/CMakeFiles/CMakeDirectoryInformation.cmake
build/source/CMakeFiles/progress.marks
build/source/CMakeFiles/SLAE.dir/build.make
build/source/CMakeFiles/SLAE.dir/cmake_clean_target.cmake
build/source/CMakeFiles/SLAE.dir/cmake_clean.cmake
build/source/CMakeFiles/SLAE.dir/compiler_depend.internal
build/source/CMakeFiles/SLAE.dir/compiler_depend.make
build/source/CMakeFiles/SLAE.dir/compiler_depend.ts
build/source/CMakeFiles/SLAE.dir/depend.make
build/source/CMakeFiles/SLAE.dir/DependInfo.cmake
build/source/CMakeFiles/SLAE.dir/flags.make
build/source/CMakeFiles/SLAE.dir/link.txt
build/source/CMakeFiles/SLAE.dir/matrixes.cpp.o
build/source/CMakeFiles/SLAE.dir/matrixes.cpp.o.d
build/source/CMakeFiles/SLAE.dir/progress.make
build/source/CMakeFiles/SLAE.dir/solvers.cpp.o
build/source/CMakeFiles/SLAE.dir/solvers.cpp.o.d
build/tests/cmake_install.cmake
build/tests/Makefile
build/tests/tridiagonal_test
build/tests/CMakeFiles/CMakeDirectoryInformation.cmake
build/tests/CMakeFiles/progress.marks
build/tests/CMakeFiles/tridiagonal_test.dir/build.make
build/tests/CMakeFiles/tridiagonal_test.dir/cmake_clean.cmake
build/tests/CMakeFiles/tridiagonal_test.dir/compiler_depend.internal
build/tests/CMakeFiles/tridiagonal_test.dir/compiler_depend.make
build/tests/CMakeFiles/tridiagonal_test.dir/compiler_depend.ts
build/tests/CMakeFiles/tridiagonal_test.dir/depend.make
build/tests/CMakeFiles/tridiagonal_test.dir/DependInfo.cmake
build/tests/CMakeFiles/tridiagonal_test.dir/flags.make
build/tests/CMakeFiles/tridiagonal_test.dir/link.txt
build/tests/CMakeFiles/tridiagonal_test.dir/progress.make
build/tests/CMakeFiles/tridiagonal_test.dir/tridiagonal_test.cpp.o
build/tests/CMakeFiles/tridiagonal_test.dir/tridiagonal_test.cpp.o.d
build/CTestTestfile.cmake
build/Testing/Temporary/CTestCostData.txt
build/Testing/Temporary/LastTest.log
build/Testing/Temporary/LastTestsFailed.log
build/source/CTestTestfile.cmake
build/tests/CTestTestfile.cmake
